.form{
 
    width: 80%;
    background: #F0F2FA;

    & label{
        color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.4px;
    }
    & input , select{
        border-radius: 8px;
border: 1px solid rgba(47, 73, 209, 0.60);
background: #FFF;
    }
    &__title{
        color: #0061F7;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.8px;
    }
}
.btn__add{
    width: 310px;
height: 40px;
flex-shrink: 0;
border-radius: 8px;
background: #2F49D1;
}