.table{
    width: 90% !important;
    margin: auto;
    background: #FFF;
box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.25);
}
table {
    width: 80%;
    &>thead {
        &>tr {
            &>th {
                padding-top: 20px !important;
                padding-bottom: 20px !important;
                background: #2F49D1 !important;
                color: white !important;
                font-family: Inter, sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

        }

    }

    &> .body_table{
        &>tr {
            &>td {
                padding-top: 20px !important;
                padding-bottom: 20px !important;
                color: #00072D;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: -0.16px;
                & > svg{
                    color:rgb(29, 109, 207);
                }

            }

        }
    }
}
.student_list__title{
    margin-left: 7%;
    margin-bottom: 32px;
    color: #0061F7;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.8px;
}




.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{

        position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}