.title{
    color: #000;
font-family: Inter;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.36px;
}
.header_title{
    // background-color:white;
    // width: 100vw;
    padding: 10px;
}
.iconButton__link{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    padding : 10px 40px;
    background: rgb(255,201,71);
    border-radius: 10px;

}
.step__icon{
    margin-top: 20px;
    // margin-bottom: 20px;
    position: absolute;
    z-index: 12;
    top: -25px;
    left: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(18,20,29);
    display: flex;
    align-items: center;
    justify-content: center;
    & > p{
        color: aliceblue;
        font-size: 35px;
        margin-bottom: 0;
    }
}